.slider-content {
    display: flex;
    margin: 10px;
    .images-container {
        display: flex;
        img{
            align-self: flex-end;
            margin-left: auto;
            width: 55%;
        }
    }
    .texts-container {
        display: flex;
        flex-direction: column;
        margin: auto;
        width: 75vw;
        .titre{
            margin-left: 17.4%;
            margin-top: 10px;
            font-weight: bold;
            font-size: 1.5em;
            color: #FFA000;
            margin-bottom: 1.3vh;
            &.Marin {
                color: #45C7E2;
            }
            &.Paprika {
                color: #FFA32D;
            }
            &.Polochon {
                color: #F8376D;
            }
            &.Pepin {
                color: #3EC8AC;
            }
            &.Jack {
                color: #FFE373;
            }
        }
        .description{
            margin-left: 17.4%;
            width: 50%;
            color: #444;
            font-size: 1em;
            line-height: 1.5em;
            b {
                color: #444444;
            }
        }
    }
}

@import "./sliderContent.small.scss";
