@import './../../../Styles/colors';

.comp-2 {
  background-color: $gray2;
  margin-top: 8vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  .titre{
    font-size: 2em;
    margin-top: 6vh;
    margin-bottom: 0.7vh;
    b {
      font-weight: 700;
    }
  }
  .description{
    font-size: 1.2rem;
    color: $textgray;
    b {
      font-weight: 700;
    }
  }
  .email{
    margin-top: 1.8vh;
    margin-bottom: 7vh;
    width: 40%;
    max-width: 550px;
  }
}

@import './comp2.medium.scss';
@import './comp2.small.scss';
