@import './../Elements/Styles/colors';

.comp-2 {
  background-color: $gray2;
  margin-top: 8%;
  display: flex;
  flex-direction: column;
  align-items: center;
  .titre{
    font-size: 2em;
    margin-top: 6%;
    margin-bottom: 0.7%;
    b {
      font-weight: 700;
    }
  }
  .description{
    font-size: 1.2rem;
    color: $textgray;
    b {
      font-weight: 700;
    }
  }
  .email{
    margin-top: 1.8%;
    margin-bottom: 7%;
    width: 40%;
    max-width: 550px;
  }
}

@import './comp2.1260.scss';
