@import './../Elements/Styles/colors';

.intro {
  background-color: white;
  .en-tete {
    display: flex;
    justify-content:space-between;
    .logo-texte {
      width: 12%;
      margin-top: 3.5%;
      margin-left: 10%;
      align-self: center;
    }
    .intro-xw-button {
      margin-right: 10%;
      align-self: flex-end;
      button {
        background-color: $vert;
      }
    }
  }
  .content{
    display: flex;
    justify-content:space-between;
    &-text {
      height: 100%;
      width: 40%;
      margin-top: 15%;
      margin-bottom: 15%;
      margin-left: 10%;
      background-color: transparent;
      align-self: center;
      color: $noir;
      font-size: 2em;
      div {
        .titre {
          width: 40%;
          position: absolute;
          z-index: 1;
        }
        .highlight {
          width: 40%;
          position: absolute;
        }
      }
      p {
        margin-top: 25%;
      }
    }
    &-illustration {
      .intro-illustration {
        img {
          position: absolute;
          right: -3%;
        }
        .image {
          width: 45%;
          top: 30%;
          transform: rotate(10deg);
        }
        .background{
          width: 48%;
          top: 35%;
          transform: rotate(45deg);
        }
      }
    }
  }
}
