@import "./../../../Styles/colors";
@import "./../../../Styles/animate";

.intro {
  background-color: white;
  height: 100vh;
  .en-tete {
    display: flex;
    margin-top: 2vh;
    justify-content: space-between;
    .logo {
      display: flex;
      flex-direction: row;
      align-items: center;
      margin-left: 10vw;
      img {
        margin-right: 1vw;
        align-self: center;
      }
      .logo-text{
        display: flex;
        flex-direction: row;
        .allo{
          margin-right: 4px;
        }
        .entitie{
          // -webkit-animation: fadeOutUp 1.3s 2s;
          // animation: fadeOutUp 1.3s 2s;
        }
      }
    }
    .intro-xw-button {
      margin-right: 10%;
      align-self: flex-end;
    }
  }
  .content {
    display: flex;
    justify-content: space-between;
    &-text {
      width: 42%;
      max-width: 620px;
      margin-top: 20vh;
      margin-bottom: 15vh;
      margin-left: 10%;
      background-color: transparent;
      align-self: center;
      color: $noir;
      .titre {
        width: 35%;
        position: absolute;
        z-index: 1;
        font-size: 2em;
        color: #222222;
        line-height: 1.4em;
        font-weight: 400;
        color: $textblack;
        b {
          font-weight: 700;
        }
      }
      .highlight {
        width: 25%;
        position: absolute;
        transform: rotate(-4deg);
      }
      .email {
      }
      .description {
        width: 85%;
        margin-top: 24%;
        margin-bottom: 4%;
        font-size: 1.2em;
        color: $textgray;
        b {
          font-weight: 700;
        }
      }
    }
    &-illustration {
      .intro-illustration {
        img {
          right: -3%;
          position: absolute;
        }
        .image {
          top: 20%;
        }
        .background {
          top: 25%;
          max-width: 600px;
        }
      }
    }
  }
}

@import "./intro.medium.scss";
@import "./intro.small.scss";