@import './../../Styles/colors';

.xw-image{
  img {
    // position: absolute;
  }
  .image {
    width: 45%;
    transform: rotate(0deg);
  }
  .background{
    width: 48%;
    transform: rotate(-20deg);
  }
}
