@import "./../../Styles/colors";

.xw-button {
  button {
    background-color: $vert;
    padding: 18px 35px;
    border-radius: 10px;
    border: 0;
    -webkit-transition: background-color 0.3s;
    transition: background-color 0.3s;
    a {
      color: $blanc;
      font-size: 1rem;
      letter-spacing: 0.75px;
      text-decoration: none;
    }
    &:hover {
      background-color: $bleu;
      -webkit-transition: background-color 0.2s;
      transition: background-color 0.2s;
    }
  }
}
