@import './../../Styles/colors';

.intro {
  background-color: white;
  .en-tete {
    display: flex;
    margin-top: 2%;
    justify-content:space-between;
    .logo-texte {
      width: 12%;
      margin-top: 3.5%;
      margin-left: 10%;
      align-self: center;
    }
    .intro-xw-button {
      margin-right: 10%;
      align-self: flex-end;
    }
  }
  .content{
    display: flex;
    justify-content:space-between;
    &-text {
      width: 42%;
      max-width: 620px;
      margin-top: 11%;
      margin-bottom: 15%;
      margin-left: 10%;
      background-color: transparent;
      align-self: center;
      color: $noir;
      div {
        .titre {
          width: 35%;
          position: absolute;
          z-index: 1;
          font-size: 2em;
          color: #222222;
          line-height: 34px;
          font-weight: 400;
          color: $textblack;
          b {
            font-weight: 700;
          }
        }
        .highlight {
          width: 40%;
          position: absolute;
          transform: rotate(-4deg);
        }
      }
      .email{
      }
      .description {
        width: 85%;
        margin-top: 24%;
        margin-bottom: 4%;
        font-size: 1.2em;
        color: $textgray;
        b {
          font-weight: 700;
        }
      }
    }
    &-illustration {
      .intro-illustration {
        img {
          right: -3%;
        }
        .image {
          top: 30%;
        }
        .background{
          top: 35%;
        }
      }
    }
  }
}

@import './intro.medium.scss';
@import './intro.small.scss';
