@import './../Elements/Styles/colors';

.intro {
  background-color: white;
  .en-tete {
    display: flex;
    justify-content:space-between;
    .logo-texte {
      width: 12%;
      margin-top: 3.5%;
      margin-left: 10%;
      align-self: center;
    }
    .intro-xw-button {
      margin-right: 10%;
      align-self: flex-end;
    }
  }
  .content{
    display: flex;
    justify-content:space-between;
    &-text {
      height: 100%;
      width: 40%;
      margin-top: 15%;
      margin-bottom: 15%;
      margin-left: 10%;
      background-color: transparent;
      align-self: center;
      color: $noir;
      div {
        .titre {
          width: 40%;
          position: absolute;
          z-index: 1;
          font-size: 2em;
        }
        .highlight {
          width: 40%;
          position: absolute;
        }
      }
      p {
        margin-top: 25%;
        font-size: 1.2em;
      }
    }
    &-illustration {
      .intro-illustration {
        img {
          right: -3%;
        }
        .image {
          top: 30%;
        }
        .background{
          top: 35%;
        }
      }
    }
  }
}
