@import './../Elements/Styles/colors';

$paddingTop: 5%;
$paddingBottom: 5%;
$paddingLeft: 5%;

.footer {
  background-color: $vert;
  .social-content{
    padding-top: $paddingTop;
    padding-left: $paddingLeft;
    img{}
    p{
      width: 40%;
      color: $blanc;
    }
  }
  .social-link{
    display: flex;
    flex-direction: column;
    a{
      text-decoration: none;
      color: $blanc;
    }
    padding-left: $paddingLeft;
    padding-bottom: $paddingBottom;
  }
}
