@media screen and (max-width: 820px) {
    .footer {
        .social-content {
            padding: 25px;
          .social-content-text {
              width: 85%;
              margin-left: 20px;
              font-size: 0.8em;
          }
          .logo-texte {
              width: 10%;
          }
        }
      }
}