@import './../Elements/Styles/colors';
$contentWidth: 55%;
$contentMarginTop: 9%;
$contentMarginBottom: 10%;

$descriptionWidth: 40%;

$imageWidth: 25%;
$imageMarginTop: -10%;
$imagePosition: 20%;

.comp-1 {
  display: flex;
  flex-direction: column;
  &-titre{
    align-self: center;
    margin-top: 5%;
    margin-bottom: 10%;
    font-size: 1.9rem;
    color: $textblack;
    b {
      font-weight: 700;
    }
  }
  &-content1{
    align-self: center;
    margin-top: $contentMarginTop;
    margin-bottom: $contentMarginBottom;
    display: flex;
    justify-content: flex-end;
    width: $contentWidth;
    .comp-1-description1{
      width: $descriptionWidth;
      font-size: 1.2rem;
      color: $textgray;
      b {
        font-weight: 700;
      }
    }
    .howto1{
      img {
        width: $imageWidth;
        margin-top: $imageMarginTop;
        left: $imagePosition;
      }
    }
  }
  &-content2{
    align-self: center;
    margin-top: $contentMarginTop;
    margin-bottom: $contentMarginBottom;
    display: flex;
    justify-content: flex-start;
    width: $contentWidth;
    font-size: 1.2rem;
    color: $textgray;
    .comp-1-description2{
      width: $descriptionWidth;
      b {
        font-weight: 700;
      }
    }
    .howto2{
      img {
        width: $imageWidth;
        margin-top: $imageMarginTop;
        right: $imagePosition;
      }
    }
  }
  &-content3{
    align-self: center;
    margin-top: $contentMarginTop;
    margin-bottom: $contentMarginBottom;
    display: flex;
    justify-content: flex-end;
    width: $contentWidth;
    .comp-1-description3{
      width: $descriptionWidth;
      font-size: 1.2rem;
      color: $textgray;
      b {
        font-weight: 700;
      }
    }
    .howto3{
      img {
        width: $imageWidth;
        margin-top: $imageMarginTop;
        left: $imagePosition;
      }
    }
  }
}

@import './comp1.1260.scss';
