@import './../../Styles/colors';

$paddingTop: 5%;
$paddingBottom: 5%;
$paddingLeft: 12%;

.footer {
  background-color: $vert;
  display: flex;
  flex-direction: row;
  justify-content: space-around;
  padding-top: $paddingTop;
  padding-bottom: $paddingBottom;
  .social-content {
    max-width: 480px;
    img{
      width: 30%;
    }
    .social-content-text {
      width: 100%;
      color: $blanc;
      margin-top: 4%;
      font-size: 1.1rem;
      b {
        font-weight: 700;
      }
    }
  }

  .social-link {
    display: flex;
    flex-direction: row;
    align-items: flex-end;
    justify-content: space-around;
    margin-top: auto;
    width: 10%;
    a {
      text-decoration: none;
      .social-logo {
        width: 60%;
        opacity: 0.5;
        -webkit-transition: opacity 0.3s;
        transition: opacity 0.3s;
        &:hover{
          opacity: 1;
          -webkit-transition: opacity 0.3s;
          transition: opacity 0.3s;
        }
      }
    }
  }
}

@import './footer.medium.scss';
@import './footer.small.scss';