@media screen and (max-width: 820px) {
    .email-input {
        display: inline-block;
        font-size: 0.8em;
        input{
        }
        .input-text{
            border-radius: 5px;
            font-size: 0.8em;
            width: 255px;
            // width: 235px;
            &:hover, &:focus{
            }
            &::placeholder {
            }
            &:focus {
            &::placeholder {
            }
            &+ .input-submit{
            }
            }
            &::placeholder {
            }
        }
        .input-submit{
            display: inherit;
            width: 295px;
            border-radius: 5px;
            margin-top: 5px;
            &:hover{
            }
        }
    }
}