@import './../../Styles/colors';

.email-input {
  display: flex;
  flex-direction: row;
  width: 90%;
  input{
    font-size: 0.5em;
    letter-spacing: 0.75px;
    -webkit-transition: background-color 0.15s;
    transition: background-color 0.15s;
    outline: none;
    border-color: inherit;
    -webkit-box-shadow: none;
    box-shadow: none;
    border-style: solid;
  }
  .input-text{
    border-top-left-radius: 5px;
    border-bottom-left-radius: 5px;
    border-width: 1px;
    font-size: 1em;
    background-color: $blanc;
    border-color: $vert;
    padding: 16px 20px;
    width: 100%;
    &:hover, &:focus{
      border-color: $bleu;
    }
    &::placeholder {
      transform: translateY(0%);
      -webkit-transform: translateY(0%);
      transition: 0.15s ease-in-out;
    }
    &:focus {
      &::placeholder {
        color: $bleu;
        font-size: 0.75em;
        transform: translateY(-50%);
        -webkit-transform: translateY(-50%);
        transition: 0.15s ease-in-out;
      }
      &+ .input-submit{
          border-color: $bleu;
          background-color: $bleu;
          -webkit-transition: background-color 0.15s;
          transition: background-color 0.15s;
          -webkit-transition: border-color 0.15s;
          transition: border-color 0.15s;
      }
    }
    &::placeholder {
      color: $vert;
    }

  }
  .input-submit{
    width: 70%;
    padding: 17px 40px;
    border-top-right-radius: 10px;
    border-bottom-right-radius: 10px;
    border: 0;
    color: $blanc;
    font-size: 1em;
    border-color: $vert;
    background-color: $vert;
    -webkit-transition: background-color 0.15s;
    transition: background-color 0.15s;
    &:hover{
      background-color: $bleu;
      border-color: $bleu;
      -webkit-transition: background-color 0.15s;
      transition: background-color 0.15s;
      cursor: pointer;
    }
  }
}

@import './email-input.medium.scss';
@import './email-input.small.scss';
